// .hero {
//     max-width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     height: 400px;
//     font-style: normal;
//     font-weight: 900;
//     text-align: center;
//     text-transform: uppercase;
//     letter-spacing: 0.06em;
//     color: $primery-bg-color;
//     border-bottom: 1px solid rgb(236, 236, 236);
//     background-color: #2f303a;
//     padding: 118px 0;
//     background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero-mob-1x.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
//       @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/hero-mob-2x.jpg);
//   }
//   @media screen and (max-width: 479px) {
//     background-size: cover;
//   }
//   @media screen and (min-width: 480px) {
//     background-size: 100vw;
//   }
//    @media screen and (min-width: 768px) {
//     min-width: 768px;
//     min-height: 400px;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/hero-tab-1x.jpg);
//          @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url(../images/hero-tab-2x.jpg);
//     }
// }
//   @media screen and (min-width: 1200px) {
//     width: 100%;
//     height: 600px;
//     padding: 200px 0;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/hero-desc-1x.jpg);
//        @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url(../images/hero-desc-2x.jpg);
//            }
//   }
// }

// .hero__container {
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     max-width: 1200px;
// }
// .hero__title {
// font-family: $first-font;
// font-style: normal;
// font-weight: 900;
// font-size: 26px;
// line-height: 1.3;
// text-align: center;
// letter-spacing: 0.06em;
// text-transform: uppercase;
//  margin-top: 0px;
//  margin-bottom: 30px;
//  @media screen and (min-width: 1200px) {
// font-size: 44px;
// line-height: 60px;
//   }   
// }
// .button {
//     display: inline-block;
//     color: $primery-bg-color;
//     background-color: $color-accent;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.9;
//     letter-spacing: 0.06em;
//     box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
//     border-radius: 4px;
//     padding: 10px 32px;
//     transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
// }
// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }
// .backdrop {
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.2);
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     z-index: 1;
// }
// .modal {
//      position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: #fff;
//     border-radius: 4px;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     padding: 40px 20px;
// }
// .closed {
//     position: absolute;
//     border-radius: 50%;
//     top: 0;
//     right: 0;
//     fill: black;
// }
// .closed__icon {
//     position: relative;
//     display: flex;
//     margin: 9px 10px;
//     background-color: $primery-bg-color;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     align-items: center;
//     justify-content: center;
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover {
//         fill: $color-accent;
//     }
// }
// .application {
//     padding-top: 40px;
//     padding-right: 40px;
//     padding-left: 40px;
//     display: block;
//     margin: 0;
// }
// .application__list {
// font-family: $first-font;
// font-style: normal;
// font-weight: bold;
// font-size: 20px;
// line-height: 23px;
// text-align: center;
// letter-spacing: 0.03em;
//     color: $title-tex-color;
//     margin-top: 0;
//     margin-bottom: 30px;
//   }
// .application-form {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 0;
//     margin-top: 28px;
// }
// .application-form__lable {
//     position: absolute;
//     transform: translateY(-15px);
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 1.16;
//     letter-spacing: 0.01em;
//     margin-bottom: 4px;
//     color: $primery-tex-color;
// }
// .application-form__text {
//     margin: 0;
//     padding: 15px 14px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     box-sizing: border-box;
//     border-radius: 4px;
//     width: 448px;
//     height: 40px;
//     padding-left: 42px;
//     font-size: 16px;
//     outline: none;
//     &:focus-within {
//         border-color: $color-accent;
//     }
//     &:focus-within + .application-form__icon {
//         fill: $color-accent;
//     }
// }
// .application-form__icon {
//     position: absolute;
//     width: 18px;
//     height: 18px;
//     margin-top: 14px;
//     margin-bottom: 14px;
//     margin-left: 15px;
// }
// .application-form__comment {
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 1.16;
//     letter-spacing: 0.01em;
//     color: var(--title-tex-color);
//     margin-top: 0;
//     margin-bottom: 4px;
//     outline: none;
//     resize: none;
//     padding: 12px 16px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     width: 448px;
//     border-radius: 4px;
//     &:focus-within {
//         border-color: $color-accent;
//     }
  
// }
// .topic {
//     margin-top: 20px;
//     margin-bottom: 0;
//     justify-content: center;
// }
// .topic__checkbox {
//     display: flex;
//     align-items: center;
// }
// .topic__box {
//     appearance: none;
// }
// .topic__icon {
//      margin-right: 7px;
//     display: inline-block;
//     top: 4px;
//     width: 15px;
//     height: 15px;
//     border: 2px solid #212121;
// }
// .topic__white {
//     font-family: $first-font;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     color: $primery-tex-color;
//     letter-spacing: 0.03em;
// }
// .topic__blue {
//     width: 400px;
//     height: 24px;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: $color-accent;
// }
// .topic__btn {
//     font-weight: bold;
//     font-size: 16px;
//     line-height: 1.87;
//     padding: 10px 55px;
//     letter-spacing: 0.06em;
//     color: $primery-bg-color;
//     background-color: #188CE8;
//     border-radius: 4px;
//     border: none;
//     margin-top: 30px;
//     margin-bottom: 30px;
//     margin-left: 0;
//     margin-right: 0;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }
// .topic__box:checked + .topic__icon {
//     background-image: url(/images/check.svg);
//     background-color: $color-accent;
//     background-origin: border-box;
//     background-size: contain;
//     border-color: $color-accent;
//     fill: $primery-bg-color;
//     border-radius: 2px;
//      }