.job {
    padding-top: 94px;
    padding-bottom: 64px;
}
.job_container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
     @media screen and (min-width: 768px) {
        width: 768px;
      }
      @media screen and (min-width: 1200px) {
        width: 1200px;
      }
}
.job__list {
    padding: 0;
    justify-content: center; 
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
   }  
}
.job__line {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
      @media screen and (min-width: 768px) {
        width: 354px;
        margin-right: 30px;
      }
        
      @media screen and (min-width: 1200px) {
        width: 270px;
      }
      &:not(:last-child) {
      @media screen and (max-width: 767px) {
          margin-bottom: 30px;
      }
      }
}
.job__icon {
    height: 120px;
    background-color: $primery-main-color;
    margin-bottom: 30px;
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    @media screen and (min-width: 480px) {
    width: 450px;
  }
      @media screen and (min-width: 768px) {
        width: 354px;
      }
        
      @media screen and (min-width: 1200px) {
        width: 270px;
      }
}
.job__item {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $title-tex-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        text-align: left;
      }
}
.job__text {
    margin-top: 10px;
    margin-bottom: 0px;
    color: $primery-tex-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}