$primery-tex-color: #757575;
$title-tex-color: #212121;
$color-accent: #2196f3;
$header-footer-color: #2f303a;
$primery-bg-color: #ffffff;
$primery-main-color:  #F5F4FA;
$icon-color: #AFB1B8;
$secondary-img-color: #e5e5e5;
$logo-font:Raleway, sans-serif;
$first-font:Roboto, sans-serif;


